<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<Style>
    body{
        background-color: aquamarine;
    }
    h1,h4{
        color: blueviolet;
    }
    a{
        font-size: 15px;
        color: blueviolet;

    }
</Style>
<body>
    <div>
        <h1>Registered  Successfully.</h1>
        <h4>Go back to login page and login with your details.</h4>
    </div>
    <a href="/">Click Here.</a>
</body>
</html>