<h1>Register</h1> 

<form action="/register" method="post">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="" required />
  </div>

  <div>
    <label for="email">E-mail</label>
    <input type="email" name="email" id="" required />
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="" required />
  </div>

  <button type="submit">Register</button>
</form>

<a href="/login">Login</a>
